{% extends "base.html" %}

{% block title %}Home{% endblock  %}

{% block content %}

    <div class="row border align-top">
      <div class="col-md-12">
        <h1 class="text-center">Rehber</h1>
      </div>
    </div>
    <div class="row border align-center">
      <div class="col-md-12">
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quia corporis voluptate asperiores a, voluptates sequi similique sed, aliquam distinctio dignissimos, dolor delectus dolores ducimus. Eligendi delectus itaque animi placeat.</p>
      </div>
    </div>

{% endblock %}